# Ignore Streamlit secrets
.streamlit/secrets.toml
secret.env  

# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log
secret.env


# Vector stores / embeddings
*.faiss
*_meta.json

